<h1><%=@subject.name%></h1>

<form class="" action="/tests/new" method="post">
  Add a test <br><br>
   <label>Name of test: <input type="text" name="name" value=""></label><br><br>
   <label>Date of test:</label> <input type="text" name="date" value="">
   <br><br><input type="submit"  value="Create Test">
</form>

<h3>List of tests</h3>

<%@tests.each do |test| %>

  <h4><a href="/tests/<%=test.id%>"><%=test.name%></a></h4>
  <br> Date of test: <%=test.date%>
<%end%>
