<h1><%=@subject.name%></h1>

<h3><a href="/tests/new">Create a Test</a></h3>

<h3>List of tests</h3>

<%@tests.each do |test| %>

  <h4><a href="/tests/<%=test.id%>"><%=test.name%></a></h4>
  <br> Date of test: <%=test.date%>
<%end%>
