<h1>Welcome <%=current_teacher.name%></h1>
<form class="" action="subjects/new" method="post">
  Create a subject: <input type="text" name="subject[name]" value=""> <input type="submit"  value="Create Subject">
</form>

<h4>Select a subject that you teach</h4>
<%@subjects.each do |subject| %>
  <a href="/subjects/<%=subject.id%>"><%=subject.name%></a><br><br>
<%end%>
