<h1>Create a test</h1> 

<form class="" action="/tests/new" method="post">

   <label>Name of test: <input type="text" name="name" value=""></label><br><br>
   <label>Date of test:</label> <input type="text" name="date" value="">
   <br><br><input type="submit"  value="Create Test">
</form>
